.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0 5px 0px;
  background: #00F260;
  background: -webkit-gradient(linear, left top, right top, from(#0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6, #00F260);
}

.contact .address {
  width: 49.2%;
}

.contact .address .map {
  width: 80%;
  height: 80%;
  display: block;
  margin: 40px auto;
  padding: 20px;
  border-radius: 75px;
}

.contact .facebook {
  width: 50%;
  height: 530px;
  max-height: 700px;
}

.contact .facebook .red-social {
  padding: 50px;
  height: 48%;
}
.contact .facebook .red-social .face {
  display: block;
  margin: 25px auto;
}

.contact .facebook .red-social .jonas {
  text-align: center;
  margin: 30px;
}

.contact .facebook .red-social .jonas a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.contact .facebook .red-social .jonas a:hover {
  color: red;
}

.contact .facebook .red-social .kevin {
  text-align: center;
  margin: 30px;
}

.contact .facebook .red-social .kevin a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.contact .facebook .red-social .kevin a:hover {
  color: yellow;
}

.contact .facebook .red-social .mishel {
  text-align: center;
  margin: 30px;
}

.contact .facebook .red-social .mishel a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.contact .facebook .red-social .mishel a:hover {
  color: green;
}


/*FORMULARIO*/
.formulario
{    
    margin-top:0px;
    background: rgba(0, 0, 0, 0.288);
    font-size: 20px;
    padding: 20px;
    border: 1px solid  white;
    border-radius: 22px ;
    text-align: center;
}
.formulario p
{
    color: rgb(0, 0, 0);
}
.formulario a
{   
   padding: .2px 32px 6px 22px;
   width: 22px; 
   font-size: 20px;
   border-radius: 29px;
   border: 2px solid rgb(255, 254, 254);
   text-decoration: none;
   color:#000000 ;
}
.formulario a:hover
{
    background: #12C6BB;
    color: black;
}

@media screen and (max-width: 1028px) {
  .contact .facebook .red-social .jonas a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }

  .contact .facebook .red-social .kevin a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }
  .contact .facebook .red-social .mishel a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }
  .contact .facebook .formulario {
    top: 40px;
    width: 98%;
  }

}
@media screen and (max-width: 768px) and (min-width: 926px) {
  .contact .facebook .formulario {
    margin: 100px 0;
  }

  
}
@media screen and (max-width: 767px) {
  * {
    padding: 0px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .address {
    width: 98.5%;
  }
  .contact .facebook {
    width: 100%;
  }
  .contact .facebook .red-social .jonas {
    text-align: center;
  }
  .contact .facebook .red-social .jonas a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }
  .contact .facebook .red-social .jonas a:hover {
    color: red;
  }
  .contact .facebook .red-social .kevin {
    text-align: center;
  }
  .contact .facebook .red-social .kevin a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }
  .contact .facebook .red-social .kevin a:hover {
    color: yellow;
  }
  .contact .facebook .red-social .mishel {
    text-align: center;
  }
  .contact .facebook .red-social .mishel a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
  }
  .contact .facebook .red-social .mishel a:hover {
    color: green;
  }
  .contact .facebook .formulario {
    top: 40px;
    width: 98%;
  }
}