@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("contact.css");
@import url("content.css");
@import url("estiloslide1.css");
@import url("estiloslide2.css");
* {
  margin: 2px;
  padding: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}
.title {
  color: aquamarine;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/imageParallax/tigre.jpg);
  height: 200px;
  padding: 7rem 0;
}