@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("contact.css");
@import url("content.css");
@import url("estiloslide1.css");
@import url("estiloslide2.css");
@import url("about.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}
header
{ 
    width: 100%;       
    background: #000000;
    color: #fff;
    position: fixed;
    z-index: 5;
}
header label
{  
    margin: 15px;     
    cursor: pointer;
    font-size: 30px;
}
.menu a
{
    width: 30%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 0%;
    font-size: 19px;
}
.menu ul
{     
    margin:10px ;
    color: black;
    display: flex;
    list-style: none;    
}
.menu ul ul
{
    padding: 10px;
    display: none;
    background:rgb(255, 255, 255);       
    border-radius: 3px;
    border: 3px solid #000;
}
.nav_cont
{
    display: flex;
    height: 100%;
    width: 90%;
    /*font-size: 54px;*/
    justify-content: space-between;
    align-items: center;
}
.menu li
{       
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 25px 10px 25px;
    border-radius: 3px ; 
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
    justify-content: space-between;    
}
.sub ul
{
    padding-left: 40%;
}
.sub li
{    
    padding: 13px 10px 10px 1%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px ;
}
/*controla el color cuando se posiciona el mouse */
.menu  li:hover
{      
    background: #12C6BB;       
}
.sub a
{
    color: rgb(0, 0, 0);
}
.nav_logo img
{
    margin: 15px;
    max-width: 159px;
    padding: 0px 10px 10px 10px;
    font-weight: 900%;
}
.menu ul li:hover ul
{ 
    margin-left: -11px;
    display: block;
    position: absolute;    
    color: black;
} 

/*vista de cel*/
.nav_cont
{
    display: flex;
    height: 100%;
    width: 90%;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.nav_input:checked 
{        
    background: #088dc2;
}
label, .nav_input
{   
    display: none;
}

@media (max-width:1050px )
{ 
    header label
    {
        display: block;        
    }
    .nav_item
    {
        color: rgb(0, 0, 0);        
    }   
    .nav_menu
    {
        padding: 70px;
        position: fixed;
        top: 60px;
        bottom: 0px;
        background: rgb(135, 235, 235);
        width: 90%;
        left: 0%;
        display: flex;
        z-index: 2;
        /*justify-content: space-evenly;*/
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    } 
    .menu li a
    {   
        color: rgb(0, 0, 0);       
    }    
    .menu ul ul 
    {        
        display: none;
    }
    .nav_input:checked + .nav_menu
    {
        clip-path: circle(100% at center);
    }
    .menu ul li:hover ul
    {
        display: none;
        color: black;
    }
    .nav_logo img
    {
        max-width: 140px;
        padding: 0px 10px 10px 10px;
        font-weight: 900%;
    }
    /*.menu
    {
        position: absolute;
        right: 5px;
    }*/
}
@media (max-width:768px )
{ 
    header label
    {
        display: block;        
    }
    .nav_item
    {
        color: rgb(0, 0, 0);        
    }
    .nav_menu
    {
        
        position: fixed;
        top: 60px;
        bottom: 0px;
        background: rgb(135, 235, 235);
        width: 90%;
        left: 0%;
        display: flex;
        z-index: 2;
        /*justify-content: space-evenly;*/
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }   
    
    .menu ul ul 
    {        
        display: none;
    }
    .nav_input:checked + .nav_menu
    {
        clip-path: circle(100% at center);
    }
    .menu ul li:hover ul
    {
        display: none;
        color: black;
    }
    .nav_logo img
    {
        max-width: 140px;
        padding: 0px 10px 10px 10px;
        font-weight: 900%;
    }
    /*.menu
    {
        position: absolute;
        right: 5px;
    }*/
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}
.parallax {
   
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/imageParallax/tigre.jpg);
  height: 200px;
  padding: 7rem 0;
}

.parallax1 {
    margin-top: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/imageParallax/tigre.jpg);
    height: 200px;
    padding: 7rem 0;
  }
